<div class="row">
  <div class="col">
    <div class="card" ng-repeat="post in posts">
      <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <p>{{ post.body }}</p>
      </div>
      <div class="card-action">
        <a ng-href="posts/{{ post.id }}" class="btn btn-large">Leer más</a>
        <a ng-href="posts/edit/{{ post.id }}" class="btn btn-large orange lighten-3">Editar</a>
        <a ng-click="removePost(post)" class="btn btn-large red lighten-3">Eliminar</a>
      </div>
    </div>
  </div>
</div>